<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/ace.min.css" />
    <link rel="stylesheet" href="../css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../css/weui.css" />
    <link rel="stylesheet" href="../css/style.css"/>
</head>

<body>
	<section id="mainApp" v-cloak>
		<header-cpt></header-cpt>

		<leftnav-cpt :navigation="navigation"></leftnav-cpt>
		
		<div class="mian">
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="icon-picture home-icon"></i>
						<a href="/page/systemNoticeList.html">返回列表</a>
					</li>
					<li class="active">{{id == '' ? '添加' : '更新'}}</li>
				</ul><!-- .breadcrumb -->
			</div>

			<div class="page-content">
				<div class="page-header">
					<h1>{{entity.goods_title}}</h1>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="profile-user-info-striped">
							<input-cpt label="公告标题" :rq="true" v-model="entity.title"></input-cpt>
                            
                            <input-cpt label="公告内容" type="textarea" :rq="true" v-model="entity.content"></input-cpt>
                            
                            <div class="profile-info-row">
                                <div class="profile-info-name">是否发布</div>
                                <div class="profile-info-value">
                                    <select v-model="entity.is_publish">
                                        <option value="1">已发布</option>
                                        <option value="0">未发布</option>
                                    </select>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

				<div class="form-actions">
					<button class="btn btn-info" type="button" @click="submitForm">保存</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
